body{
  font-family: sans-serif;

}

h1{
  font-size: 4rem;
  margin: 2rem 2rem 2rem 3rem;
}
.weather{
background-color: blue;
width: 18rem;
height: 12rem;
position: absolute;
right: 0;
top: 3rem;
}

.info{
  margin-left: 3rem;
  font-size: 1.5rem;
  margin-bottom: 10rem;
}

input[type=range] {
  height: 39px;
  -webkit-appearance: none;
  width: 90%;
  margin: 0 auto;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 2px #A6A6A6;
  border: 2px solid #F27B7F;
  height: 30px;
  width: 50px;
  border-radius: 0px;
  background: #FF96AB;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -11px;
}

.pie{
  border-radius: 100%;
  position: relative;
  height: 200px;
  width:200px;
  overflow: hidden;
}



.fab_segment, .num_segment{
  --a: calc(var(--over50, 0) * -100%);
  --b: calc((1 + var(--over50, 0)) * 100%);
  --degrees: calc( (var(--offset, 0) / 100) * 360);
  height: 100%;
  /*overflow: hidden;*/
  position: absolute;
  transform: translate(0, -50%) rotate(90deg) rotate(calc(var(--degrees)* 1deg));
  transform-origin: 50% 100%;
  /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); */
  clip-path: polygon(var(--a) var(--a), var(--b) var(--a), var(--b) var(--b), var(--a) var(--b));
  width: 100%;
  opacity: 0.5;

}

.fab_segment:hover, .num_segment:hover{
  opacity: 1;
}
.fab_segment:before, .fab_segment:after, .num_segment:before, .num_segment:after{
  content: '';
  height: 100%;
  position: absolute;
  width: 100%;
  background: var(--bg, #e74c3c);
}


.fab_segment:before, .num_segment:before{
  --degrees: calc( (var(--value, 45) / 100) * 360);
  transform: translate(0, 100%) rotate(calc(var(--degrees)* 1deg));
  transform-origin: 50% 0;
}


.fab_segment:after, .num_segment:after{
  opacity: var(--over50, 0)
}

.pie_label_color{
  width: 2rem;
  height: 2rem;
}

.legende{
  margin-top: 1rem;
  display: flex;
}
.legende p{
  font-size: 1.5rem;
}
.grafieken{
  background-color: rgba(0,0,255,0.1);
  padding: 3rem;
  margin: 8rem 8rem 0rem 0rem;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
}

h2{
  font-size: 2.1rem;
  margin-bottom: 1rem;
}

.kleur{
  background-color: white;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.auto{
  width: 1rem;
  height: 1rem;
  background-color: red;
  border-radius: 100%;
}



/*https://codeburst.io/how-to-pure-css-pie-charts-w-css-variables-38287aea161e
