body{
  font-family: sans-serif;

}

h1{
  font-size: 4rem;
  margin: 2rem 2rem 2rem 3rem;
}
.weather{
background-color: blue;
width: 18rem;
height: 12rem;
position: absolute;
right: 0;
top: 3rem;
}

.info{
  margin-left: 3rem;
  font-size: 1.5rem;
  margin-bottom: 10rem;
}

input[type=range] {
  height: 39px;
  -webkit-appearance: none;
  width: 90%;
  margin: 0 auto;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 2px #A6A6A6;
  border: 2px solid #F27B7F;
  height: 30px;
  width: 50px;
  border-radius: 0px;
  background: #FF96AB;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -11px;
}

.pie{
  background-color: #639;
  border-radius: 100%;
  position: relative;
  height: 200px;
  width:200px;
  margin: 10rem 5rem;
  overflow: hidden;
}

.pie_segment{

  --degrees: calc( (var(--offset, 0) / 100) * 360);
  height: 100%;
  overflow: hidden;
  position: absolute;
  transform: translate(0, -50%) rotate(90deg) rotate(calc(var(--degrees)* 1deg));
  transform-origin: 50% 100%;
  width: 100%;
}

.pie_segment:before{
  --degrees: calc( (var(--value, 45) / 100) * 360);
  background: #f00;
  content: '';
  height: 100%;
  position: absolute;
  transform: translate(0, 100%) rotate(calc(var(--degrees)* 1deg));
  transform-origin: 50% 0;
  width: 100%;
}
/*https://codeburst.io/how-to-pure-css-pie-charts-w-css-variables-38287aea161e
