body{
  font-family: monospace;
  background-color: black;
  color: #b7ea65;
}

h1{
  font-size: 4rem;
  margin: 2rem 2rem 2rem 3rem;
  color:white;
}

.omgeving{
  position: absolute;
  right: 0;
  top: 3rem;
  width: 18rem;
  height: 12rem;
}
.weather{
background-size: 100%;
background-repeat: no-repeat;
border-radius: 100%;
background-position: center;
width: 8rem;
height: 8rem;
margin: 0 5rem;
}

#temperatuur{
  font-size: 1.5rem;
  text-align: center;

}

#weerBesch{
  font-size: 1.5rem;
  text-align: center;
  margin-top: 1rem;
}
.info{
  margin-left: 3rem;
  font-size: 1.5rem;
  margin-bottom: 3rem;
}

input[type=range] {
  height: 200px;
  padding: 0 0px;
  -webkit-appearance: none;
  width: 85%;
  margin: 0 7%;
  background-image: url(../img/Road-01.png);
  background-position: center;
  background-size: 100%;
}

input[type=range]::-webkit-slider-thumb {

  height: 0;
  padding-bottom: 2%;
  width: 3%;
  border-radius: 0px;

  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -40px;
  background-image: url(../img/auto-02.png);
  background-size: 100%;
}

.pie{
  border-radius: 100%;
  position: relative;
  height: 150px;
  width:150px;
  overflow: hidden;
  grid-row: 2;
}

.kleur .pie{
  height: 200px;
  width: 200px;
}


.fab_segment, .num_segment, .kl_segment{
  --a: calc(var(--over50, 0) * -100%);
  --b: calc((1 + var(--over50, 0)) * 100%);
  --degrees: calc( (var(--offset, 0) / 100) * 360);
  height: 100%;
  /*overflow: hidden;*/
  position: absolute;
  transform: translate(0, -50%) rotate(90deg) rotate(calc(var(--degrees)* 1deg));
  transform-origin: 50% 100%;
  /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); */
  clip-path: polygon(var(--a) var(--a), var(--b) var(--a), var(--b) var(--b), var(--a) var(--b));
  width: 100%;
  opacity: 1;
}


.fab_segment:before, .fab_segment:after, .num_segment:before, .num_segment:after, .kl_segment:before, .kl_segment:after{
  content: '';
  height: 100%;
  position: absolute;
  width: 100%;
  background: var(--bg, #e74c3c);
}


.fab_segment:before, .num_segment:before, .kl_segment:before{
  --degrees: calc( (var(--value, 45) / 100) * 360);
  transform: translate(0, 100%) rotate(calc(var(--degrees)* 1deg));
  transform-origin: 50% 0;
}


.fab_segment:after, .num_segment:after, .kl_segment:after{
  opacity: var(--over50, 0)
}

.pie_label_color{
  color: white;
  padding: 1rem;
  margin: 0.5rem;
}

.legende{
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.kleur .legende{
  margin-top: 2rem;
  margin-left: 1.5rem;
}
.legende p{
  font-size: 1.5rem;
}
.grafieken{
  /*background-color: rgba(255,255,255,0.1); */

  padding: 3rem;
  margin-left: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-auto-rows: 0.5fr 5fr;
  grid-column-gap: 2rem;
  grid-row-gap: 0rem;
}

h2{
  font-size: 2.1rem;
  margin-bottom: 1rem;
  grid-row: 1;
}

.kleur{
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  grid-column: 3;
}



.titelkleur{
  grid-column: 3;
}

.auto{
  width: 3rem;
  height: 3rem;
  background-size: 100%;

  margin: 5px;
}

.onzichtbaar{
  display: none;
}

#UX{
  font-size: 1.5rem;
  position: absolute;
  top: 16rem;
  left: 35%;
}
@media (max-width:1300px){
input[type=range]::-webkit-slider-thumb{
  margin-top: -35px;
}
 }
 @media (max-width:1150px){
 input[type=range]::-webkit-slider-thumb{
   margin-top: -30px;
 }
  }

  @media (max-width:1000px){
  input[type=range]::-webkit-slider-thumb{
    margin-top: -25px;
  }
   }
/*https://codeburst.io/how-to-pure-css-pie-charts-w-css-variables-38287aea161e
